html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  font-size: 14px;
  color: #666;
}
